:root {
  --color-dark-background: rgb(30, 40, 50);

  --color-dark-text-400: rgb(239, 244, 248);
  --color-dark-text-300: rgb(164, 180, 196);

  --color-dark-accent-blue-500: rgb(30, 120, 231);
  --color-dark-accent-blue-400: rgb(46, 138, 251);

  --color-light-accent-blue-500: rgb(16, 106, 217);
  --color-light-accent-blue-400: rgb(31, 129, 249);

  --color-accent-blue-raw-500: rgb(16, 106, 217);
  --color-accent-blue-raw-400: rgb(31, 129, 249);

  --color-light-background: white;

  --color-light-text-400: rgb(20, 29, 37);
  --color-light-text-300: rgb(72, 85, 97);

  --color-dark-grayscale-400: rgb(44, 58, 70);
  --color-dark-grayscale-300: rgb(41, 51, 65);

  --color-light-grayscale-400: rgb(226, 233, 238);
  --color-light-grayscale-300: rgb(242, 246, 248);

  --color-gold-400: rgb(247, 197, 24);
  --color-gold-400-alpha: rgba(247, 197, 24, 0.2);
  --color-gold-500: rgb(206, 163, 9);

  --color-black-700: rgb(21, 21, 21);
  --color-black-600: rgb(40, 40, 40);
  --color-black-500: rgb(70, 70, 70);
  --color-black-400: rgb(95, 95, 95);

  --color-white-400: rgb(255, 255, 255);
  --color-white-300: rgb(233, 233, 233);
  --color-white-200: rgb(215, 215, 215);
  --color-white-100: rgb(190, 190, 190);

  --color-red-100: rgb(255, 223, 224);
  --color-red-200: rgb(245, 164, 164);
  --color-red-300: rgb(255, 120, 120);
  --color-red-400: rgb(255, 75, 75);
  --color-red-500: rgb(234, 43, 43);

  --color-red-400-alpha: rgb(255, 75, 75, 0.1);

  --color-yellow-100: rgb(255, 245, 211);
  --color-yellow-200: rgb(255, 240, 192);
  --color-yellow-300: rgb(255, 211, 58);
  --color-yellow-400: rgb(255, 199, 0);

  --color-orange-400: rgb(255, 150, 0);

  --color-brown-200: rgb(229, 162, 89);
  --color-brown-300: rgb(218, 139, 99);
  --color-brown-400: rgb(165, 102, 68);
  --color-brown-500: rgb(116, 66, 41);

  --color-green-300: rgb(0, 230, 118);
  --color-green-400: rgb(39, 222, 68);
  --color-green-500: rgb(0, 200, 83);

  --color-blue-100: rgb(221, 244, 255);
  --color-blue-200: rgb(187, 242, 255);
  --color-blue-300: rgb(132, 216, 255);
  --color-blue-400: rgb(28, 176, 246);
  --color-blue-500: rgb(24, 153, 214);
  --color-blue-600: rgb(43, 112, 201);
  --color-blue-700: rgb(20, 83, 163);

  --color-pink-400: rgb(255, 170, 222);

  --color-purple-300: rgb(206, 130, 255);
  --color-purple-400: rgb(144, 105, 205);
  --color-purple-500: rgb(111, 78, 161);
}
