:root {
  --background-beige: #f5efe6;
  --background-beige-dark: rgb(233, 222, 208);
  --background-dark: #0169b4;

  --color-text-400: #091434;
  --color-text-300: #3d455d;

  --color-black-400: #091434;
  --color-orange-400: #ff923e;
  --color-white-400: #ffffff;
}
