:root {
  --color-text-400: #2d2a24;
  --color-text-300: #786f5d;

  --color-grayscale-400: rgb(233, 222, 208);

  --color-beige-400: #f5efe6;

  --color-black-400: #091434;

  --color-orange-400: #ff923e;

  --color-white-400: #ffffff;

  --color-cyan-400: #34bfff;
  --color-cyan-300: #83d8ff;

  --color-dark-blue-400: #002474;
}
