@font-face {
  font-family: "Quicksand";
  src: url(/fonts/quicksand-400.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Quicksand";
  src: url(/fonts/quicksand-500.woff2) format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Quicksand";
  src: url(/fonts/quicksand-700.woff2) format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "NB-Architekt-Std";
  src: url(/fonts/pro-font.woff2) format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
