@font-face {
  font-family: "Nunito";
  src: url(/fonts/nunito.woff2) format("woff2");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "NB-Architekt-Std";
  src: url(/fonts/nb-architekt-std.woff2) format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
