@font-face {
  font-family: "Quicksand";
  src: url(/fonts/urbanist-400.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Quicksand";
  src: url(/fonts/urbanist-700.woff2) format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Quicksand";
  src: url(/fonts/urbanist-900.woff2) format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "NB-Architekt-Std";
  src: url(/fonts/pro-font.woff2) format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
