@use "./reset.scss";
@use "./variables.scss";
@use "./colors.scss";
@use "./fonts.scss";
@use "./grid.scss";
@use "./lenis.scss";
@use "./projects.scss";

html {
  background: var(--color-beige-400);
  color: var(--color-text-400);
  font-family: "Quicksand";
  overflow-y: scroll;
}

::selection {
  background: #2d2a24;
  color: rgb(255, 255, 255);
  text-shadow: none;
}

::-moz-selection {
  background: #2d2a24;
  color: rgb(255, 255, 255);
  text-shadow: none;
}
