@use "./reset.scss";
@use "./variables.scss";
@use "./colors.scss";
@use "./fonts.scss";

html {
  background: var(--background-beige);
  color: var(--color-black-400);
  font-family: "Nunito";

  --100vh: min(100vh, 100dvh);
}
