.project-cubewar {
  --color-text-400: black;
  --color-text-300: #3c4750;

  --color-grayscale-400: #bed4e5;

  --color-background-400: #e5f1fb;
  --color-background-300: #cae1f4;
}

.project-gamedo {
  --color-text-400: rgb(20, 29, 37);
  --color-text-300: rgb(72, 85, 97);

  --color-grayscale-400: rgb(226, 233, 238);

  --color-background-400: white;
  --color-background-300: #f7f9fd;
}

.project-particles {
  --color-text-400: white;
  --color-text-300: rgb(149, 155, 150);

  --color-grayscale-400: #2c2f2c;

  --color-background-400: #121412;
  --color-background-300: #191c19;
}

.project-pokedex {
  --color-text-400: #011030;
  --color-text-300: rgb(105, 111, 116);

  --color-grayscale-400: #d9dde7;

  --color-background-400: #f7f9fd;
  --color-background-300: #e9edf6;
}
