:root {
  /* Layout */
  --breakpoint-sm: 480px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1440px;
  --breakpoint-xxl: 1600px;
  --breakpoint-xxxl: 1920px;

  /* Z-index */
  --z-index-layout: 0;
  --z-index-header: 10;

  /* Line Heights */
  --line-height-copy: 1.3;
  --line-height-title: 1.1;

  /* Radii */
  --radius-sm: 4px;
  --radius-md: 12px;
  --radius-lg: 20px;
  --radius-xl: 32px;
  --radius-xxl: 48px;

  /* Font Sizes */
  --font-size-100: 10px;
  --font-size-xs: 12px;
  --font-size-sm: 14px;
  --font-size-md: 16px;
  --font-size-lg: 18px;
  --font-size-xl: 20px;
  --font-size-xxl: 26px;

  --font-size-title-sm: 20px;
  --font-size-title-md: 32px;
  --font-size-title-lg: 40px;
  --font-size-title-xl: 56px;
  --font-size-title-xxl: 72px;

  /* Space */
  --space-outer: 12px;

  --space-xxs: 4px;
  --space-xs: 8px;
  --space-sm: 12px;
  --space-md: 18px;
  --space-lg: 28px;
  --space-xl: 36px;
  --space-xxl: 48px;
  --space-xxxl: 64px;

  /* Stroke */
  --stroke-md: 2px;

  @media (min-width: 1024px) {
    --space-outer: 16px;
  }

  @media (min-width: 1440px) {
    --space-outer: 20px;
  }
}
